* {
    margin: 0;
    padding: 0;
}

#heading {
    text-align:center;
    margin:5px;
}
.heading {
    margin:10px;
    color:rgb(5, 92, 146);
}
.container {
    height:80px;
    width:480px;
    border:3px solid;
    margin:5px;
    display:flex;
}
.box {
    height:40px;
    width:40px;
    margin:6px;
    border:2px solid black;
    border-radius:10px;
    background-color:indianred;
    text-align:center;
}

#container1 {
    justify-content:flex-start;
}
#container2 {
    justify-content:flex-end;
}
#container3 {
    justify-content:center;
}
#container4 {
    justify-content:space-between;
}
#container5 {
    justify-content:space-around;
}
#container6 {
    justify-content:space-evenly;
}