* {
    margin:0;
    padding:0;
}

#box {
    height:60px;
    width:60px;
    background-color:aquamarine;
    text-align:center;
    padding:10px;
    margin:10px;
    border:3px solid black;
    border-radius:15px;
}