.box {
    height:80px;
    width:80px;
    padding:5px;
    margin:10px;
}

#first {
    background-color:black;
    color:blue;
    text-align:center;
    border:4px dashed red;
    box-sizing:content-box; 
    /* It cause layout overflow, because padding & border increases box size. */
}

#second {
    background-color:aquamarine;
    text-align:center;
    border:3px solid;
    border-radius:10px;
    box-sizing:border-box;
    /* It uses content size(height & width) to apply padding & border. It makes layout predictable & avoids sudden size increases. */
}