* {
    margin:0;
    padding:0;
}

.padded {
    height:50px;
    width:50px;
    padding:10px;
}

#first {
    margin:10px 5px 50px 5px;
    background-color: aqua;
}

#second {
    margin: 20px;
    background-color: darkgoldenrod;
}