.box {
    height:100px;
    width:100px;
    margin:50px;
    padding:5px;
    box-sizing:border-box;
    border:3px solid;
    border-radius:10px;
    text-align:center;
    font-size:18px;
    transition:all 2s ease-in-out 0s;
}

#box1:hover {
    background-color:aqua;
    transform:translate(80px, 80px);
}
#box2:hover {
    background-color:cadetblue;
    transform:translateX(80px);
}
#box3:hover {
    background-color:bisque;
    transform:translateY(70%);
}
