* {
    margin: 0;
    padding: 0;
}

.box {
    height:50px;
    width:50px;
    background-color:aquamarine;
    margin:10px;
    padding:5px;
    border:3px solid black;

}

#box1 {
    display:block;
    /* <span> is INLINE(sits next to each other). But we changed it to block - now the Box1 takes full horizontal width.*/
    /* Also we cannot apply hight & Width property on inline element but when we changed it to block, Box1 applied hight & width property and Box2 & Box3 remains same */
}