* {
    margin: 0;
    padding: 0;
}
.box {
    height:70px;
    width:70px;
    border:2px solid black;
    margin:5px;
    position:absolute;
}
#box1 {
    background-color:aquamarine;
    left:40px;
    top:70px;
    z-index:3;
}
#box2 {
    background-color:aqua;
    top:30px;
    left:20px;
    z-index:2;
}
#box3 {
    background-color:crimson;
    z-index:1;
}