* {
    margin: 0;
    padding: 0;
}
#first {
    background-color:aqua;
    height:150px;
    width:150px;
    margin:5px;
}
#second {
    background-color:cornflowerblue;
    height:30%;
    width:50%;
}