* {
    margin: 0;
    padding: 0;
}

#first {
    height:200px;
    width:200px;
    margin: 5px;
    background-color: aquamarine;

    font-size:30px;
}
#second {
    background-color:goldenrod;
    
    font-size:3em;
}