#bar {
    background-color:rgba(255,0,0,0.3);
}

main {
    height:5000px;
    background-color:blanchedalmond;
}

#logo {
    color:darkblue;
    height:300px;
    width:200px;
    /* background-image:url("../../images/css.webp");
    background-color:darkgoldenrod;
    background-repeat:no-repeat;
    background-position:bottom center;
    background-size:200px auto;
    background-attachment:scroll; */

    /* Shorthand Property */
    background: darkgoldenrod url('../../images/css.webp') no-repeat bottom center / 200px auto scroll;
}